<div class="container-fluid text-center my-4">
    <div class="row d-flex justify-content-center">
        @for(game of listadoJuegos; track game.url) {
            <div class="card px-0 border border-black border-3 m-2 rounded-0" style="width: 17rem;">
                <img src="https://images.wikidexcdn.net/mwuploads/wikidex/a/a1/latest/20080801203419/Car%C3%A1tula_de_Pok%C3%A9mon_Amarillo_EN.jpg" class="card-img-top rounded-0" [alt]="game.name">
                <div class="card-body bgTextCard border border-3 border-black border-start-0 border-end-0 border-bottom-0 d-flex align-items-center justify-content-center">
                    <h5 class="card-title m-0 text-uppercase"><strong>{{ game.name }}</strong></h5>
                </div>
            </div>
        }
    </div>
</div>